* {
  margin: 0;
  padding: 0;
}

body {
  color: red;

  font-size: 32px;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}